<h3 class="text-center">Let's Learn Pipes</h3>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>uppercase, lowercase, titlecase pipe::</h4>
  <div>customerName: {{customerName}}</div>
  <div>customerName: {{customerName | uppercase}}</div>
  <div>customerName: {{customerName | lowercase}}</div>
  <div>customerName: {{customerName | titlecase}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>currency pipe::</h4>
  <div>salary: {{salary}}</div>
  <div>salary: {{salary | currency}}</div>
  <div>salary: {{salary | currency : 'INR'}}</div>
  <div>salary: {{salary | currency : '&euro;'}}</div>
  <div>salary: {{salary | currency : '&yen;'}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>Date pipe::</h4>
  <div>{{dateObj}}</div>
  <div>{{dateObj | date}}</div>
  <div>{{dateObj | date : 'short'}}</div>
  <div>{{dateObj | date : 'medium'}}</div>
  <div>{{dateObj | date : 'long'}}</div>
  <div>{{dateObj | date : 'full'}}</div>
  ==================
  <div>{{ dateObj | date : 'shortDate' }}</div>
  <div>{{ dateObj | date : 'mediumDate' }}</div>
  <div>{{ dateObj | date : 'longDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' }}</div>
  =================
  <div>{{ dateObj | date : 'shortTime' }}</div>
  <div>{{ dateObj | date : 'mediumTime' }}</div>
  <div>{{ dateObj | date : 'longTime' }}</div>
  <div>{{ dateObj | date : 'fullTime' }}</div>
  ==============
  <div>{{ dateObj | date : 'dd-MMM-yyyy' }}</div>
  <div>{{ dateObj | date : 'hh:mm:ss a' }}</div>
  <div>{{ dateObj | date: "fullTime":"UTC" }}</div>
  <div>{{ dateObj | date: "fullTime":"IST" }}</div>
  <div>{{ dateObj | date: "EEEE" }}</div> <!-- Weekday-->
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>Number & percent pipe::</h4>
  <div> {{100000000 | number}} </div>
  <div>{{ 12.111222333 | number: "3.2-5" }}</div>
  <div>{{ 12.1 | number: "3.2-5" }}</div>
  <div>{{ 0.5 | number:'3.2-5'}}</div>
  =================
  <div>{{ 2.5 | percent}}</div>
  <div>{{ 2.5 | percent:'2.2-5'}}</div>
  <div>{{ 0.024 | percent}}</div>
  <div>{{ 0.026 | percent}}</div>
  <div>{{ 0.25 | percent}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>Json pipe::</h4>
  <div>{{user}}</div>
  <div>{{user | json}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>keyvalue pipe::</h4>
  @for (entry of user | keyvalue; track $index) {
  <div>{{entry.key}} ========= {{entry.value}}</div>
  }
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>slice pipe::</h4>
  <div>{{cars | slice : 2 }}</div>
  <div>{{cars | slice : 2 : 4}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : 7}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : -4}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>Pipe Chaining::</h4>
  <div>{{'Angular is a Framework' | slice : 0 : 7 | uppercase }}</div>
  <div>{{'Angular is a Framework' | slice : 0 : 7 | lowercase }}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-2">
  <h4>Custom Pipe(ordinal):</h4>
  <input type="number" [(ngModel)]="num" />
  <div>number:{{num}}, ordinal value: {{num | ordinal}} </div>
</div>
